/*** Imports ***/ 
/* Add your fontkit here */
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Noto+Sans+Mono:wght@100..900&display=swap');
/*** Root ***/ 
/* For variables like colors and fonts*/
    :root{
        /* colors */
        --midnightgreen: #272f23;
        --sandyclay: #8D745A;
        --light-clay: #caae8f;
        --forest-green: #639355;
        /* fonts */
        --title-font: "Arbutus", serif;
        --body-font: "Noto Sans Mono", monospace;
        }
  
          

/*** General Style ***/ 
/* Universal tag used to give the border box style here */
    * {box-sizing:border-box}

/* Applies to all the body */
    body {
        margin: auto;
        color: var(--light-clay);
        font-family: var(--body-font);
        font-weight: 400;
        overflow-x: hidden;
        background-color: var(--midnightgreen);
    }

/* Applies to whole main and stops content from getting too wide */
    main{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 80%;
        margin: auto;
       
    }

/* Adjusts all of your headings */
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--title-font);
        font-weight: 500;
        text-align: center;
        margin: 1em;
    }

/* Adjusts all of your anchor tags */
    a{
        color: var(--forest-green);
    }

/* Link hover */
    a:hover {
        color: var(--light-clay);
    }

/*** Header ***/  
    /* Page title area */
    header {
        display: flex;
        align-items: start;
        padding-top: 20vh;
        width: 100vw;
        height: 100vh;
        background-color: #8d745ad0;
        background-image: url(images/StockCake-Topographic-Elegance-Displayed_1757897992.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
        color: var(--light-clay);
    }
    header a{
        text-decoration-color: var(--light-clay);
    }
    header a:hover{
        opacity: 0.6;
    }
    /* Page title words */
    header h1 {
        
        padding: 1rem;
        width: 50%;
        margin: auto;
        color: var(--light-clay);
        font-size: 6em;
    }
    header p{
        padding: 1rem;
        width: 50%;
        margin: auto;
    }

    header img{
        border-radius: 1em;
    }
    

/*** Back to top Button ***/
.back-to-top-btn {
    padding: 1em;
    position: fixed;
    right: 1em;
    bottom: 1em;  
    background-color: #1f382f;
    text-decoration: none;
    color: var(--forest-green);
    font-size: 18pt;
    font-weight: 600;
    border-radius: 2em;
    padding: 1em 1.2em;
    z-index: 2;
}
.back-to-top-btn:hover{
    color: var(--forest-green);
    background-color: var(--sandyclay);
}

/*** Applies to each section ***/
section {    width: 80%;
    padding: 2em; 
    margin: auto;
}
hr {
    margin: 6em 0px 0px;
}

/* Section title heading size */
section h2 {
    font-size: 4em;
    margin: 0;
}
section h3 {
    font-size: 2em;
}

/*** Section Template ***/
/*Simple 2 column grid with the image attribute displaed on hover */
.two-column-container {
    display: grid;
    grid-template-columns: 600px 600px;
    column-gap: 2em;
    width: 100%;
    max-width: 1200px;
    text-align: left;
    margin: 1em auto;
}
.two-column-container img{
    border-radius: 1em;
}
.img-text {
    display: flex;
    align-items: center;
}
.img-attribution {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.attribution {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.left-column{
    width: 600px;
}
.left-column:hover .attribution {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.external-links{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Side Scrolling Carousel */
.side-scrolling-carousel{
    overflow-x: scroll;
        white-space: nowrap;
        scrollbar-color: var(--forest-green) #00000000;
}

/*** Splide ***/
.splide{
    max-width: 1200px;
    max-height: 800px;
}
.splide img{
    width: 100%;
    border-radius: 2em;
    padding: 1em
}
/* Position of dots */
.splide__pagination{
    position: relative;
    top: 35.8rem;
}
.splide:not(.is-overflow) .splide__pagination{
    display:inherit;
}
.side-scrolling-nav-gallery .splide__pagination{
    top: 20.5rem;
}
/* Play pause button */
.splide__toggle{
    position: relative;
    top: -7.5em;
    left: 0.5em;
    background-color: transparent;
    border: none;
    color: #cfcfcf;
    font-size: 2em;
}
.splide__toggle:hover{
    color: #fff;
}
.side-scrolling-nav-gallery .splide__toggle{
    top: -11em;
}
/* Progress bar */
.splide__progress__bar {
    height: 3px;
    background: #ccc;
    position: relative;
    top: -18em;
    border-radius: 1em;
}
.side-scrolling-nav-gallery .splide__progress__bar {
    top: -25.5em;
}
/* Arrows */
.splide__arrow{
    margin-top: -6em;
}

.side-scrolling-nav-gallery .splide__arrow{
    margin-top: -9em;
}


/*** Footer ***/  
    /* Applies to footer */
    footer {
        padding: 2em;
        background-color: var(--midnightgreen);
        text-align: right;
        font-weight: 600;
    
        background-image: url(images/StockCake-Topographic-Elegance-Displayed_1757897992.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    footer h3{
        text-align: left;
        font-size: 2em;
        margin-bottom: 0;
        color: var(--midnightgreen);
        
    }
    /* Footer anchor tag changes */
    footer a {
        color: var(--clay);
    }
    footer a:hover{
        color: var(--forest-green);
    }
    /* Simple grid to hold footer links and navigation*/
    .footer-grid {
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30em;
        text-align: left;
    }
    .footer-grid-items{
        display: flex;
        flex-direction: column;
    }