/*** Imports ***/ 
/* Add your fontkit here */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


/*** Root ***/ 
/* For variables like colors and fonts*/
    :root{
        /* colors */
      --light-off-white:#faf0e6;
      --dirty-pink:#ac6d6d;
        --Cream: #f0efe3;
        --black: #030303;
    
    
        /* fonts */
        --title-font: "Alfa slab one", serif;
        --body-font:  "Nunito Sans", sans-serif;
    }

/*** General Style ***/ 
/* Universal tag used to give the border box style here */
    * {box-sizing:border-box}

/* Applies to all the body */
    body {
        margin: auto;
        color: var(--black);
        font-family: var(--body-font);
        font-weight: 500;
        overflow-x: hidden;
        background-color: var(--light-off-white)
    }

/* Applies to whole main and stops content from getting too wide */
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1500px;
        margin: auto;
    }

/* Adjusts all of your headings */
    h1, h2,h3,h4,h5, h6 {
        font-family: var(--title-font);
        font-weight: 500;
        text-align: center;
        margin: 1em;
    }


/* Adjusts all of your anchor tags */
    a{
        color: var(--dirty-pink);
    }

/* Link hover */
    a:hover {
        color: var(--black);
    }

/*** Header ***/  
    /* Page title area */
    header {
        display: flex;
        align-items: center;
        width: 100vw;
        height:100vh;
        background-color: var(--black);
        background-image:url(images/Tunnel+Beach+Sunrise.webp);
        background-repeat: no-repeat;
        background-position:top;
        background-size:100%;
        background-attachment: fixed;
    }
    /* Page title words */
    header h1 {
        padding: 1rem;
        width: 50%;
        margin: auto;
        color: #ecdbdb;
        font-size: 4em;
    }
    header h1 span{
        color: var(--black);
    }


/*** Nav ***/    
    /* Navigation bar as a grid for even spacing and sticky to stick to the top of the screen*/
    nav {
        display: flex;
        justify-content: center;
      
        text-align: center;
        background-color: var(--dirty-pink);
        font-size: 1.8em;
        font-weight: 600;
        /* z-index brings items forward or backward in relation to other content */
        z-index: 2;
    }
    /* Nav link adjustments*/
    nav a {
        margin: 0.4em;
        text-decoration: none;
        color: #ffffff;
        padding: 0.4em 1em;
        border-radius: 3em;
    }
    nav a:hover {
        color: var(--black);
        background-color: var(--light-off-white);
        /* This transition adds smoothness to the hover effect */
        transition: color 0.2s ease;
        transition: background-color 0.2s ease;
    }
/*** Back to top Button ***/
.back-to-top-btn {
    padding: 1em;
    position: fixed;
    right: 1em;
    bottom: 1em;  
    background-color: var(--dirty-pink);
    text-decoration: none;
    color: #ffffff;
    font-size: 20pt;
    font-weight: 600;
    border-radius: 50px;
    padding: 16px 16px;
    z-index: 2;
}
.back-to-top-btn:hover{
    color: var(--black);
    background-color: var(--light-off-white);
}


/*** Applies to each section ***/
    section {
        width: 100%;
        padding: 2em; 
        margin: auto;
    }
    hr {
        margin: 6em 0px 0px;
    }

    /* Section title heading size */
    section h2 {
        font-size: 4em;
        margin: 0;
        text-align: left;
    }
    section h3 {
        font-size: 2em;
    }

    .sub-title{
        font-size: 1.8em;
        margin: 0;
        font-weight: 500;
        font-family: var(--title-font);
    }

/*** Basic element css ***/ 
    /*Simple 2 column grid with the image attribute displaed on hover */
    .two-column-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: left;
        margin: 1em 0;
    }
    .two-column-container img{
        border-radius: 1em;
    }
    .img-text {
        font-size: 16pt;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-align: left;
        margin: 0;
    }
    .img-text h2{
        margin: 0;
        font-size: 3em;
    }
    .img-text p{
        margin: 0;
    }
    .img-attribution {
        width: 100%;
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    .attribution {
        position: relative;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    .fig-hover-attribution:hover .attribution {
        opacity: 1;
        transition: opacity 0.5s ease;
    }

/*** Map ***/  
    #map-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    #map-section iframe{
        width: 80%;
        height: 60vh;
        margin: 2em auto;
        border: none;
        border:var(--dirty-pink)
    }

/*** Footer ***/  
    /* Applies to footer */
    footer {
        padding: 2em;
        background-color: var(--black);
        text-align: right;
        font-weight: 600;
    }
    footer h3{
        text-align: left;
        font-size: 1.5em;
        margin: 0;
        color: var(--dirty-pink);
    }
    /* Footer anchor tag changes */
    footer a {
        color: var(--Cream);
    }
    footer a:hover{
        color: var(--Cream);
    }
    /* Simple grid to hold footer links and navigation*/
    .footer-grid {
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3em;
        text-align:left;
    }
    .footer-grid-items{
        display: flex;
        flex-direction: column;
    }