@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');

    * {box-sizing:border-box}

    body {
        background-color: black;
        background-image: url(images/sethflemingblur.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin: auto;
        font-family: "SUSE", sans-serif;
        font-weight: 400;
        overflow-x: hidden;
        font-size: 110%;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
        text-align: center;
        color: white;
        font-family: "Jost", sans-serif;
    }

    header {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 30vh;
        background-image: url(images/flowerbannerblur.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    header h1 {
        padding: 16px;
        width: 50%;
        margin: auto;
        color: #fff;
        font-size: 72pt;
        border-radius: 100px;
    }
    header h1 span{
        color: #D9B3F2;
    }

    nav {
        display: flex;
        justify-content: center;
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: 0;
        text-align: center;
        background-color: #735645;
        font-size: 20pt;
        font-weight: 600;
        z-index: 2;
    }

    nav a {
        margin: 16px 2vw;
        text-decoration: none;
        color: #fff;
        padding: 16px 26px;
        border-radius: 50px;
    }
    nav a:hover {
        color: #D9B3F2;
        background-color: #3F4E50;
        transition: color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    a:hover {
        color: #D9B3F2;
    }

    .back-to-top-btn {
        padding: 16px;
        position: fixed;
        right: 16px;
        bottom: 16px;  
        background-color: #735645;
        text-decoration: none;
        color: #fff;
        font-size: 18pt;
        font-weight: 600;
        border-radius: 50px;
        padding: 16px 26px;
        z-index: 2;
    }
    .back-to-top-btn:hover{
        color: #D9B3F2;
        background-color: #3F4E50;
    }

    section {
        width: 80%;
        padding: 50px 0px; 
        margin: auto;
    }
    hr {
        margin: 100px 0px 0px;
    }

    section h2 {
        font-size: 48pt;
        color: white;
    }

    .two-column-container {
        display: inline-grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
        text-align: left;
        margin: 25px 0px;
        color: white;
    }

    .two-column-container2 {
        display: inline-grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
        text-align: left;
        margin: 25px 0px;
        color: white;
    }

    .img-text {
        display: flex;
        align-items: center;
        color: white;
   

    }
    .img-text p{
        padding: 16px;
        background-color: #00000062;

    }
    .img-attribution {
        width: auto;
        max-height: 60vh;
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    .attribution {
        position: relative;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    .fig-hover-attribution:hover .attribution {
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .large-text{
        margin: 25px 0px;
        text-align: center;
        font-size: 32pt;
        color: white;
    }

    .large-text a {
        padding: 8px 13px;
        border-radius: 20px;
        text-decoration: none;
        color: #64735A;
        transition: color 0.5s ease;
        transition: background-color 0.5s ease;
        font-weight: bold;
    }
    .large-text a:hover {
        color: #64735A;
        background-color: #292929a1;
    }


    .portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    iframe{
        width: 80%;
        height: 50%;
        border: 0;
    }
  
    .contact-container {
        padding: 20px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    iframe{
        width: 80%;
        height: 35vh;
        border: 0;
    }
  

    footer {
        padding: 50px 250px 16px;
        background-color: #64735A;
        text-align: right;
        font-weight: 600;
    }
    footer a {
        color: #000;
    }
    footer a:hover{
        color: #fff;
    }
    .footer-grid {
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 50px;
        text-align: left;
    }
    .footer-grid-items{
        display: flex;
        flex-direction: column;
    }
