/*** Imports ***/ 
/* Add your fontkit here */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Cantata+One&display=swap');

/*** Root ***/ 
/* For variables like colors and fonts*/
    :root{
        /* colors */
        --beige: #DFD8D2;
        --dark-blue: #132058;
        --bold-blue: #2D52C3;
        --bold-blue-80: #2d53c3cc;
        --desaturated-blue: #4F77AC;
        --light-blue: #3D92CB;
        --light-blue-80: #3D92CBcc;
        /* fonts */
        --title-font: "Cantata One", serif;
        --body-font: "Atkinson Hyperlegible Next", sans-serif;
    }

/*** General Style ***/ 
/* Universal tag used to give the border box style here */
    * {box-sizing:border-box}

/* Applies to all the body */
    body {
        margin: auto;
        color: var(--dark-blue);
        font-family: var(--body-font);
        font-weight: 400;
        overflow-x: hidden;
        background-color: var(--beige);
    }

/* Applies to whole main and stops content from getting too wide */
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1500px;
        margin: auto;
    }

/* Adjusts all of your headings */
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--title-font);
        font-weight: 500;
        text-align: center;
        margin: 1em;
    }

/* Adjusts all of your anchor tags */
    a{
        color: #fff;
    }

/* Link hover */
    a:hover {
        color: var(--beige);
    }

/*** Header ***/  
    /* Page title area */
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 80vh;
        background-attachment: fixed;
        background-image: url(images/HIYHGVAQ7ZCQSLUHR3SAOP7PYE.avif);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* Page title words */
    header h1 {
        padding: 1rem;
        width: 70%;
        margin: auto;
        color: var(--beige);
        font-size: 6em;
        background-color: var(--light-blue-80);
        border-radius: 0.1em;
    }
   

/*** Nav ***/    
    /* Navigation bar as a grid for even spacing and sticky to stick to the top of the screen*/
    nav {
        display: flex;
        justify-content: center;
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: 0;
        text-align: center;
        background-color: var(--desaturated-blue);
        font-size: 1.6em;
        font-weight: 500;
        /* z-index brings items forward or backward in relation to other content */
        z-index: 2;
    }
    /* Nav link adjustments*/
    nav a {
        margin: 0.4em;
        text-decoration: none;
        color: var(--beige);
        padding: 0.4em 1em;
        border-radius: 3em;
    }
    nav a:hover {
        color: var(--light-blue);
        background-color: var(--dark-blue);
        /* This transition adds smoothness to the hover effect */
        transition: color 0.2s ease;
        transition: background-color 0.2s ease;
    }

/*** Back to top Button ***/
    .back-to-top-btn {
        padding: 1em;
        position: fixed;
        right: 1em;
        bottom: 1em;  
        background-color: var(--desaturated-blue);
        text-decoration: none;
        color: #fff;
        font-size: 18pt;
        font-weight: 600;
        border-radius: 2em;
        padding: 1em 1.2em;
        z-index: 2;
    }
    .back-to-top-btn:hover{
        color: var(--light-blue);
        background-color: var(--dark-blue);
    }

/*** Applies to each section ***/
    section {
        width: 80%;
        padding: 2em; 
        margin: auto;
    }
    hr {
        margin: 6em 0px 0px;
    }

    /* Section title heading size */
    section h2 {
        font-size: 4em;
        margin: 0;
    }
    section h3 {
        font-size: 2em;
    }

/*** Img and text 2 columns ***/ 
    #section-one{
        color: var(--beige);
    }
    .intro-container {
        background-color: var(--desaturated-blue);
        border: var(--dark-blue) 2px solid;
        border-radius: 1.5em;
        padding: 1em;
    }
    .two-column-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        column-gap: 2em;
        width: 100%;
        text-align: left;
        margin: 1em 0;
    }

    .img-text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-top: 1em;
    }
    .img-text h3{
        display: flex;
        margin: 0;
        text-align: left;
        font-size: 3em;
    }
    .img-text p{
        display: flex;
        margin: 0 2em 1em 0;
    }
    .img-column img{
        width: 100%;
        max-height: 60vh;
        opacity: 1;
        transition: opacity 0.5s ease;
        border-radius: 1em;
    }
    .attribution {
        position: relative;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    .img-column:hover .attribution {
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    .reverse{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .reverse .img-text{
        align-items: end;
        text-align: right;
    }
    .reverse p{
        margin: 0 0 0 2em;
    }

/*** Fun Facts ***/
    .fun-facts{
        color: var(--beige);
        margin-top: 10vh;
    }
    .fun-facts img{
        width: 200px;
        border-radius: 100%;
    }
    .fun-facts .fact{
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        column-gap: 2em;
        width: 80%;
        margin: 5vh 0;
        background-color: var(--light-blue);
        border: var(--dark-blue) 2px solid;
        border-radius: 4em;
        padding: 2em 2em;
    }
    .fact-text{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .fact-text h4{
        margin: 0;
        font-size: 2em;
    }
    .fact-text p{
        margin: 0 2em 0 0;
    }
    .fun-facts .img-right{
        display: grid;
        grid-template-columns: 4fr 1fr;
        text-align: right;
        align-items: center;
        background-color: var(--bold-blue);
        justify-self: end;
    }

    .fun-facts .img-right p{
        margin: 0 0 0 2em;
    }

    .fun-facts .last-fact{
        background-color: var(--desaturated-blue);
    }

    .img-right h4{
        width: 100%;
        text-align: right;
    }

/*** Section Two ***/
    .section-two-container{
        background-color: var(--bold-blue-80);
        border: var(--dark-blue) 2px solid;
        border-radius: 1.5em;
        padding: 2em;
        color: var(--beige);
        margin-top: 1em;
    }

    #section-two hr{
        height: 6px;
        border: none;
        background-color: var(--dark-blue);
        margin-bottom: 10vh;
    }

/*** Gellery***/    
    /* Gallery Thumnail style */
    .thumbnail-container {
        display:flex;
        flex-wrap:wrap;
        align-content: center;
        justify-content: center;
        max-width: 1300px;
        margin: 0 auto 1em;
        padding:0px;
    }
    .thumbnail-container img {
        padding: 0px 2px;
    }

/*** Two column text section ***/
    #section-three h2, #section-three h3{
        text-align: left;
        margin: 0;
    }
    .two-text-columns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        justify-content: start;
        column-gap: 2em;
        background-color: var(--light-blue);
        border: var(--dark-blue) 2px solid;
        border-radius: 1.5em;
        padding: 1em 2em;
        color: var(--beige);
        margin: 0.5em auto 1em;
    }

/*** Sources ***/
    #sources{
        margin: 10vh auto;
    }

    #sources a{
        color: var(--dark-blue);
        display: block;
        margin: 0.5em auto;
        text-align: center;
        font-size: 1.5em;
    }


/*** Footer ***/  
    /* Applies to footer */
    footer {
        padding: 2em;
        background-color: var(--light-blue);
        text-align: right;
        font-weight: 600;
        color: var(--beige);
    }
    footer h3{
        text-align: left;
        font-size: 2em;
        margin: 0;
    }
    /* Footer anchor tag changes */
    footer a {
        color: var(--beige);
    }
    footer a:hover{
        color: #fff;
    }
    /* Simple grid to hold footer links and navigation*/
    .footer-grid {
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2em;
        text-align: left;
        align-items: start;
        justify-content: start;
    }
    .footer-grid-items{
        display: flex;
        flex-direction: column;
    }
    footer .sources{
        width: 60%;
        margin: auto;
        text-align: center;
    }